@using Web.ViewModels
@if (Editing)
{
    <div>
        <input id="sold" type="number" @bind="Sold" @bind:event="oninput" placeholder="Enter sold" class="soldInput" />
        <a class="btn-primary" type="button" @onclick="OnConfirmClick">CONFIRM @Sold</a>
    </div>
}
else
{
    <div style="width:10em">
        <a class="btn-primary" type="button" @onclick="OnEditClick">EDIT SOLD</a>
    </div>
}

@code {
    bool Editing = false;

    private ListEventViewModel listEventViewModel;

    [Parameter]
    public int Sold { get; set; }

    [Parameter]
    public EventCallback<int> OnConfirmed { get; set; }

    public void OnEditClick()
    {
        Editing = true;
    }

    public async void OnConfirmClick()
    {
        Editing = false;
        await OnConfirmed.InvokeAsync(Sold);
    }
}
