@using Web.ViewModels
@if (Editing)
{
    <div>
        <input id="sold" type="number" @bind="sold" @bind:event="oninput" placeholder="Enter sold" class="soldInput" />
        <a class="btn-primary" type="button" @onclick="OnConfirmClick">CONFIRM @sold</a>
    </div>
}
else
{
    <div style="width:10em">
        <a class="btn-primary" type="button" @onclick="OnEditClick">EDIT SOLD</a>
    </div>
}

@code {
    bool Editing = false;

    private int sold;
    private ListEventViewModel listEventViewModel;

    [Parameter]
    public ListEventViewModel Event
    {
        get
        {
            return listEventViewModel;
        }
        set
        {
            sold = value.Sold;
            listEventViewModel = value;
        }
    }

    [Parameter]
    public EventLine Parent { get; set; }

    public void OnEditClick()
    {
        Editing = true;
    }

    public void OnConfirmClick()
    {
        Editing = false;
        listEventViewModel = listEventViewModel with { Sold = sold };
        Parent.RefreshState();
    }
}
